<div class="widget-container">
  <!-- 28x28 grid -->
  <div class="grid">
    <div
      *ngFor="let row of grid; let rowIndex = index"
      class="row"
    >
      <div
        *ngFor="let cell of row; let colIndex = index"
        class="cell"
        [style.backgroundColor]="'rgb(' + (255 - cell) + ',' + (255 - cell) + ',' + (255 - cell) + ')'"
        (mousedown)="onMouseDown(rowIndex, colIndex)"
        (mousemove)="onMouseMove(rowIndex, colIndex)"
        (mouseup)="onMouseUp()"
       
      ></div>
    </div>
  </div>

  <!-- Controls -->
  <div class="controls">
    <label>
      Brush Size:
      <input
        type="range"
        min="1"
        max="5"
        [(ngModel)]="brushSize"
      />
    </label>
    <button (click)="clearGrid()">Clear</button>
  </div>
</div>
