<div class="widget-container">
  <!-- 28x28 grid -->
  <div class="grid">
    <div
      *ngFor="let row of grid; let rowIndex = index"
      class="row"
    >
      <div
        *ngFor="let cell of row; let colIndex = index"
        class="cell"
        [style.backgroundColor]="'rgb(' + (255 - cell) + ',' + (255 - cell) + ',' + (255 - cell) + ')'"
        (mousedown)="onMouseDown(rowIndex, colIndex)"
        (mousemove)="onMouseMove(rowIndex, colIndex)"
        (mouseup)="onMouseUp()"
        (touchend)="onMouseUp()"
        (touchstart)="onMouseDown(rowIndex,colIndex)"
        (touchmove)="onMouseMove(rowIndex, colIndex)"
       
      ></div>
    </div>
  </div>

  <!-- Controls -->
  <div class="controls">
    <label>
      Brush Size:
      <mat-slider min="1" max="5" step="1" discrete>
      <input matSliderThumb
        [(ngModel)]="brushSize"
      />
      </mat-slider>
    </label>
    <button style="margin-left: 20px;" matButton="elevated" (click)="clearGrid()">Clear Drawing</button>
  </div>
</div>
