<!-- Selected digit image View -->

<div *ngIf="view === 'digit_image'" style="display:flex;justify-content: center;align-items: center;height: 100%;">
        <img (click)="onStartDigitSelection()" [src]="selectedImage" style="width:80%;object-fit: contain;border-radius: 15px;"/>
</div>


<!-- Initial View -->
<div *ngIf="view === 'selection_start'" style="display:flex;justify-content: center;align-items: center;height: 100%;">
        <button mat-raised-button color="primary" (click)="onStartDigitSelection()" style="justify-content: center;">
            Select or Draw Handwritten Digit for Inference
        </button>
</div>


<!-- Digit Selection View -->
<div *ngIf="view === 'digit'" style="justify-content: center;align-items: center;height: 100%;">
  <div style="    margin-top: 20px;
    padding-bottom: 10px;
    border-color:  #555;;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;">
  <div style="background-color:rgb(244, 243, 246);top: -10px;left:10px;    position: relative;width: fit-content;
    padding-left: 5px;padding-right: 5px; color: #555;">Select existing Image for Digit</div>
  
  <mat-grid-list cols="4" rowHeight="50px" gutterSize="8px" style="margin: auto;">
    <mat-grid-tile *ngFor="let digit of digits">
      <button mat-raised-button color="primary" (click)="selectDigit(digit)">
        {{ digit }}
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
  <div style="   margin-top: 20px;
    padding-bottom: 10px;
    border-color:  #555;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;">
     <div style="background-color: rgb(244, 243, 246);top: -10px;left:10px;    position: relative;width: fit-content;
    padding-left: 5px;padding-right: 5px; color: #555;">Draw Digit</div>
      <button style="left: 50%; transform: translate(-50%, -50%);margin-top: 25px;"
       mat-raised-button color="primary" (click)="onDrawDigit()">Draw Digit</button>
</div>

</div>

<!-- Image Grid View -->
<button *ngIf="view === 'images'" mat-button (click)="backToDigits()" style="position: absolute;top:5px;right:20px">← Back</button>

<div *ngIf="view === 'images'" class="image-grid-wrapper">
  <div *ngIf="loading" class="loading-spinner">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  <div *ngIf="!loading" class="image-grid">
    <div
      class="image-tile"
      *ngFor="let img of images"
      [class.selected]="img.index === selectedIndex"
      (click)="selectImage(img)"
    >
      <img
        [src]="img.image_b64"
        alt="MNIST digit"
        class="mnist-image"
        draggable="false"
      />
  </div>

</div>
