*.o
*.a
*.so
*.orig
build/
target/
.DS_Store
src/libos/target/
tools/toolchains/dcap_lib/target/
dcap_c_test
/ml_training/__pycache__/
/demonstrator/backend/__pycache__/
/documentation/sphinx-doc-generation/_build/
/demonstrator/backend/sentrabackend/__pycache__/
**/__pycache__/
